<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Elias Moura</title>
  <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>  
  <div class="container">
    <header>
      <div class="header-container">
        <div class="nombre">
          <h1>Moura Damian Elias</h1>
          <h4>Software Developer Junior - Back End</h4>
        </div>
        <div class="photo">
          <img src="../public/img/avatar-batman-comics-hero.png" alt="">
        </div>

      </div>
      <div class="triangulo-1"></div>
      <div class="forma-1"></div>
      <div class="forma-2"></div>
    </header>
    <section class="container-body">
      <section class="left">
        <section class="perfil">
          <h4>Perfil</h4>
          <p>
            Hola soy Elias, soy Desarrollador de Software Junior y estudiante de ingenier&iacute;a en Inform&aacute;tica, con especialidad en el desarrollo de software. En el &uacute;ltimo año he formado parte del equipo de desarrollo de la Escuela de Rob&oacute;tica en el cual realiz&eacute; tareas como backend developer basados en el stack MERN.
          </p>
        </section>
      </section>
      <section class="right">
        <section class="perfil">
          <h4>Perfil</h4>
          <p>
            Hola soy Elias Moura, Desarrollador de Software Junior y estudiante de ingenieria en Informatica, con especialidad en el desarrollo de software. En el ultimo año he formado parte de un equipo como backend developer con el cual hemos desarrollado proyectos basados en el stack MERN.
          </p>
        </section>
      </section>
    </section>
  </div>
</body>
</html>