<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Elias Moura</title>
  <script src="https://kit.fontawesome.com/0ebfa8f278.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>  
  <div class="container">
    <header>
      <div class="header-container">
        <div class="nombre">
          <h1>Moura Damian Elias</h1>
          <h4>
            <!-- <i class="fab fa-dev"></i> -->
            Desarrollador Web Junior</h4>
        </div>
        <div class="photo">
          <img src="../public/img/WhatsApp Image 2021-01-27 at 23.33.542.jpeg" alt="">
        </div>
      </div>
      <!-- <div class="triangulo-1"></div>
      <div class="forma-1"></div>
      <div class="forma-2"></div> -->
    </header>
    <div class="container-body">
      <aside class="left">
        <div class="perfil block-component">
          <!-- <i class="fas fa-id-badge"></i> -->
          <h4>Perfil</h4>
          <p>
            Hola soy Elias, Desarrollador de Software Junior. Formado parte del equipo de desarrollo de la Escuela de Rob&oacute;tica en el cual realizo mayormente tareas del lado del backend con Node.js basamos en el stack MERN.
          </p>
        </div>
        <div class="hard-skills block-component">
          <!-- <i class="fas fa-laptop-code"></i> -->
          <h4>Hard Skills</h4>
          <ul>
            <li class='component-li'>
              <!-- <i class="fab fa-html5 fa-2x "></i> -->
              <img src="../public/img/html.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                HTML5
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-css3-alt fa-2x "></i>  -->
              <img src="../public/img/css.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                CSS3
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-js-square fa-2x"></i> -->
              <img src="../public/img/javascript.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                JavaScript
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-js-square fa-2x"></i> -->
              <img src="../public/img/react.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                React
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-node-js fa-2x"></i>  -->
              <img src="../public/img/node.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Node.js
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/mongo.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Mongo DB
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/mysql.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                MySQL
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-git-alt fa-2x"></i> -->
              <img src="../public/img/git.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Git
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-linux fa-2x"></i> -->
              <img src="../public/img/linux.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Linux
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-linux fa-2x"></i> -->
              <img src="../public/img/Postman.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Postman
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/language_icon_144262.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Inglés intermedio
              </p>
            </li>
          </ul>
        </div>
        <div class="soft-skills block-component">
          <!-- <i class="fas fa-clipboard-list"></i> -->
          <h4> Soft Skills</h4>
          <ul>
            <li class='component-li'> 
              <!-- <i class="fas fa-square"></i> -->
              <!-- <i class="far fa-square"></i> -->
              <!-- <i class="fas fa-caret-right"></i> -->
              <!-- <i class="far fa-check-square"></i> -->
              <!-- <i class="fas fa-check-square"></i> -->
              <!-- <i class="fas fa-angle-right"></i> -->
              <!-- <i class="fas fa-chevron-right"></i> -->
              <!-- <i class="fas fa-circle"></i> -->
              <!-- <i class="fas fa-chevron-right"  id='soft-1'></i> -->
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Autodidacta
              </p>
            </li>
            <li class='component-li'> 
              <!-- <i class="fas fa-chevron-right" id='soft-1'></i> -->
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Trabajo en Equipo
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fas fa-chevron-right" id='soft-1'></i> -->
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Empatía
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fas fa-chevron-right" id='soft-1'></i> -->
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Flexibilidad
              </p>
            </li>
          </ul>
        </div>
        <div class="contact block-component">
          <!-- <i class="fas fa-address-book"></i>  -->
          <h4>Contact</h4>
          <ul>
            <li>
              <a href="https://github.com/EliasMoura2" target="_blank" class='component-li'>
                <!-- <i class="fab fa-github fa-2x"></i>  -->
                <img src="../public/img/github.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  EliasMoura2
                </p>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/elias-moura/" target="_blank" class='component-li'>
                <!-- <i class="fab fa-linkedin fa-2x"></i> -->
                <img src="../public/img/linkedin.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  elias-moura
                </p>
              </a>
            </li>
            <li>
              <a href="https://portfolio-eliasmoura.herokuapp.com/" target="_blank" class='component-li'>
                <img src="../public/img/worldwide-www.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  Portfolio
                </p>
              </a>
            </li>
            <li class='component-li'>
              <img src="../public/img/gmail.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                d.eliasmoura2
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fab fa-whatsapp fa-2x"></i> -->
              <img src="../public/img/whatsapp.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                +54 376 4151874
              </p>
            </li>
            <li class='component-li'>
              <!-- <i class="fas fa-map-marker-alt fa-2x"></i> -->
              <img src="../public/img/map.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Posadas, Misiones
              </p>
            </li>
          </ul>
        </div>
      </aside>
      <section class="right">
        <div class="perfil block-component">
          <h4>
            <!-- <i class="fas fa-bullseye"></i> -->
            Objetivo Profesional
          </h4>
          <p>
            Formar parte del equipo y contribuir con mis conocimientos y habilidades para el logro de las metas generales, teniendo la oportunidad de continuar desarrollándome personal y profesionalmente.
          </p>
        </div>
        <div class="perfil experiencia block-component">
          <!-- experiencia -->
          <h4>
            <!-- <i class="fas fa-user-clock"></i>  -->
            Experiencia Laboral
          </h4>
          <div class='titulo'>
            Escuela de Robot&iacute;ca
          </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Desarrollador [Presente]:
              </strong>
            </div>
            <div class='item'>
              Participación en proyectos de desarrollo Aplicaciones Web y API’s con NodeJS / Express, integración con base de datos Relacionales (MySQL) y no relacionales (MongoDB).
            </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Facilitador Técnico [2019]:
              </strong>
            </div>
            <div class='item'>
              Participación en proyectos de desarrollo en arduino.
            </div>
            <div class='titulo'>
              <strong>
                Desarrollador freelance
              </strong>
            </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Desarrollador [diciembre 2018 - junio 2019]:
              </strong>
            </div>
            <div class="item">
              Participación en proyectos freelance para el desarrollo de sistemas de información en el lenguaje de programación JAVA.
            </div>
            <div class="titulo">

            </div>
            <!-- <div class="titulo">
              T&eacute;cnico reparador de PC
            </div>
                Proyectos freelance
                Programador [2018]:

                Tecnico [2013 - 2017]:
                Trabajos particulares en reparación y mantenimiento de PC.
-->
        </div>
        <div class="perfil block-component ">
          <h4>
            <!-- <i class="fas fa-graduation-cap"></i> -->
            Estudios Acad&eacute;mico</h4>
          <div class='titulo'>
            Estudio Universitario:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Ingeniería en Informática</strong>, Universidad Gastón Dachary [En curso].
            </div>
          </div>
          <div class="titulo">
            Estudio Secundario:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
            <strong>Economía y Gestión de las organizaciones</strong>, Centro Educativo Polimodal N° 4 [2010].
            </div>
          </div>
        </div>
        <div class="formacion block-component">
          <h4>
            <!-- <i class="fas fa-book"></i> -->
            Formaci&oacute;n Complementaria
          </h4>
          <div class="titulo">
            Cursos certificados:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1TxK0FlgEUz7RmVgxS2FAYlXRyeKcLPlT/view?usp=sharing" target="_blank">
                <strong>Github para programadores</strong>, LinkedIn LEARNING. [17/12/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1eCj0YE3uiWCyuMqQtwPfPBckTdrDoOMF/view?usp=sharing" target="_blank">
                <strong>Node.js esencial</strong>, LinkedIn LEARNING. [20/07/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1GM1l1BytrNeyoxsUfVk-SZ54oCUKKK9G/view?usp=sharing" target="_blank">
                <strong>Javascript avanzado: buenas prácticas</strong>, LinkedIn LEARNING. [18/06/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1xPxe32O1S4JBVuCRs5STmSd8_KqeeBBo/view?usp=sharing" target="_blank">
                <strong>Javascript esencial</strong>, LinkedIn LEARNING. [10/04/2020]
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Curso Ingl&eacute;s nivel 2</strong>, Escuela de Inglés y portugués (UNAM). [20/03/2019]
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Curso Ingl&eacute;s nivel 1</strong>, Escuela de Inglés y portugués (UNAM).[10/04/2018]
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Curso Teórico – Práctico de “PHP, JAVASCRIPT y MySQL”</strong>, Fundación Alfa. [25/08/2015].
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
    <!-- <li><i class="fas fa-key fa-2x"></i> Passport.js</li> -->
    <!-- <li><i class="fas fa-lock fa-2x"></i> JWT</li> -->
    <!-- <li><i class="fab fa-node fa-2x"></i></li> -->
    <!-- <i class="fas fa-envelope"></i> -->
    <!-- <li><i class="fab fa-docker fa-2x"></i> Docker</li> -->
    <!-- <li><i class="fab fa-stripe"></i></li>
      <li><i class="fab fa-php"></i></li> -->
    <!-- <h4><i class="fas fa-clipboard-check"></i> Soft Skills</h4> -->
    <!-- <h4><i class="far fa-address-book"></i> Contact</h4> -->
    <!-- <li><i class="fab fa-facebook-f"></i></li>
    <li><i class="fab fa-facebook"></i></li>
    <li><i class="fab fa-facebook-square"></i></li> -->
    <!-- <li><i class="fab fa-linkedin-in fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-github-square fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-instagram fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-instagram-square fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-telegram fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-telegram-plane fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-twitter fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-twitter-square fa-2x"></i></li> -->
    <!-- <li><i class="fab fa-whatsapp-square fa-2x"></i></li> -->
    <!-- <li><i class="far fa-file-pdf"></i></li> -->
    <!-- <li><i class="fas fa-location-arrow fa-2x"></i></li> -->
    <!-- <li><i class="fas fa-map-marker-alt fa-2x"></i></li> -->
    <!-- <div class="footer">
      <a href="http://">Descargar</a>
    </div> -->
  <div class="ribbon">

  </div>
</html>