<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Elias Moura</title>
  <script src="https://kit.fontawesome.com/0ebfa8f278.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>  
  <div class="container">
    <header>
      <div class="header-container">
        <div class="nombre">
          <h1>Moura Damian Elias</h1>
          <h4>
            Backend Dev Jr - Node.js</h4>
        </div>
        <div class="photo">
          <img src="../public/img/avatar.JPG" alt="">
        </div>
      </div>
    </header>
    <div class="container-body">
      <aside class="left">
        <div class="perfil block-component">
          <h4>Perfil</h4>
          <p>
            Desarrollador de Software Junior.<br>
            En este momento formo parte de un equipo de desarrollo en el cual realiz&oacute; tareas como backend developer utilizando Node.js, Express.js y TypeORM en proyectos sobre el stack MERN.
          </p>
        </div>
        <div class="hard-skills block-component">
          <h4>Hard Skills</h4>
          <ul>
            <li class='component-li'>
              <img src="../public/img/html.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                HTML5
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/css.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                CSS3
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/javascript.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                JavaScript
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/react.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                React
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/node.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Node.js
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/mongo.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Mongo DB
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/mysql.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                MySQL
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/git.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Git
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/linux.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Linux
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/Postman.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Postman
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/language_icon_144262.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Inglés pre-intermedio
              </p>
            </li>
          </ul>
        </div>
        <div class="soft-skills block-component">
          <h4> Soft Skills</h4>
          <ul>
            <li class='component-li'> 
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Autodidacta
              </p>
            </li>
            <li class='component-li'> 
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Trabajo en Equipo
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Empatía
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Flexibilidad
              </p>
            </li>
          </ul>
        </div>
        <div class="contact block-component">
          <h4>Contact</h4>
          <ul>
            <li>
              <a href="https://github.com/EliasMoura2" target="_blank" class='component-li'>
                <img src="../public/img/github.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  EliasMoura2
                </p>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/elias-moura/" target="_blank" class='component-li'>
                <img src="../public/img/linkedin.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  elias-moura
                </p>
              </a>
            </li>
            <li>
              <a href="https://eliasmoura2.github.io/" target="_blank" class='component-li'>
                <img src="../public/img/worldwide-www.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                  Portfolio
                </p>
              </a>
            </li>
            <li>
              <a href='mailto:d.eliasmoura2@gmail.com'  target="_blank" class='component-li'>
                <img src="../public/img/gmail.png" alt="" srcset="">
                <p style='margin-left: 5px;'>
                d.eliasmoura2
                </p>
              </a>
            </li>
            <li class='component-li'>
              <img src="../public/img/whatsapp.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                +54 376 4151874
              </p>
            </li>
            <li class='component-li'>
              <img src="../public/img/map.png" alt="" srcset="">
              <p style='margin-left: 5px;'>
                Posadas, Misiones, Argentina.
              </p>
            </li>
          </ul>
        </div>
      </aside>
      <section class="right">
        <div class="perfil block-component">
          <h4>
            Objetivo Profesional
          </h4>
          <p>
            Mi Objetivo es formar parte de su equipo y contribuir con mis conocimientos y habilidades para el logro de las metas generales, teniendo la oportunidad de continuar desarrollándome personal y profesionalmente.
          </p>
        </div>
        <div class="perfil experiencia block-component">
          <h4>
            Experiencia Laboral
          </h4>
          <div class='titulo'>
            Escuela de Robot&iacute;ca
          </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Desarrollador BackEnd [Presente]:
              </strong>
            </div>
            <div class='item'>
              Desarrollo de Aplicaciones Web monoliticas y API’s RESTful con Node.js, Express.js y typeORM.
            </div>
            <div class='item'>
              - Integración con base de datos Relacionales (MySQL) y no relacionales (MongoDB).
            </div>
            <div class="item">
              - Autenticación de usuario con passport.js y JWT.
            </div>
            <div class="item">
              - Carga de archivos con multer.
            </div>
            <div class="item">
              - Etc.
            </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Facilitador Técnico [2019]:
              </strong>
            </div>
            <div class='item'>
              Desarrollo de proyectos en arduino.
            </div>
            <div class='titulo'>
              <strong>
                Desarrollador freelance
              </strong>
            </div>
            <div class='subtitulo'>
              <img src="../public/img/arrow-blue.png" alt="" srcset="">
              <strong>
                Desarrollador [diciembre 2018 - junio 2019]:
              </strong>
            </div>
            <div class="item">
              Participación en proyectos freelance para el desarrollo de sistemas de información en el lenguaje de programación JAVA.
            </div>
        </div>
        <div class="perfil academicos block-component ">
          <h4>
            Estudios Acad&eacute;mico</h4>
          <div class='titulo'>
            Estudio Universitario:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Ingeniería en Informática</strong>, Universidad Gastón Dachary [En curso].
            </div>
          </div>
          <div class="titulo">
            Estudio Secundario:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
            <strong>Economía y Gestión de las organizaciones</strong>, Centro Educativo Polimodal N° 4 [2010].
            </div>
          </div>
        </div>
        <div class="formacion block-component">
          <h4>
            <!-- <i class="fas fa-book"></i> -->
            Formaci&oacute;n Complementaria
          </h4>
          <div class="titulo">
            Cursos certificados:
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://sceu.frba.utn.edu.ar/e-learning/detalle/diplomatura/1590/diplomatura-en-programacion-web-full-stack-con-react-js" target="_blanck">
                <strong>Diplomatura en programación web full stack con React JS</strong>, UTN. [En curso].
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1TxK0FlgEUz7RmVgxS2FAYlXRyeKcLPlT/view?usp=sharing" target="_blank">
                <strong>Github para programadores</strong>, LinkedIn LEARNING. [17/12/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1eCj0YE3uiWCyuMqQtwPfPBckTdrDoOMF/view?usp=sharing" target="_blank">
                <strong>Node.js esencial</strong>, LinkedIn LEARNING. [20/07/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1GM1l1BytrNeyoxsUfVk-SZ54oCUKKK9G/view?usp=sharing" target="_blank">
                <strong>Javascript avanzado: buenas prácticas</strong>, LinkedIn LEARNING. [18/06/2020] 
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <a href="https://drive.google.com/file/d/1xPxe32O1S4JBVuCRs5STmSd8_KqeeBBo/view?usp=sharing" target="_blank">
                <strong>Javascript esencial</strong>, LinkedIn LEARNING. [10/04/2020]
              </a>
            </div>
          </div>
          <div class="subtitulo estudios">
            <img src="../public/img/arrow-blue.png" alt="" srcset="">
            <div>
              <strong>Curso Ingl&eacute;s nivel 2</strong>, Escuela de Inglés y portugués (UNAM). [20/03/2019]
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</html>